{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="section-top">
        <img src="{% static 'media/images/background2.jpg' %}" alt="" class="img-responsive">
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                {% for product_image in products_images %}
                    {% include 'registration/product_item.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}